/* 
hey
these
are
the
basic
DESIGN COLORS
BG, INLINE BLOCKS: #758890
HILITE TEXT, HOVER LINK: #b8bdb2
LINKS: WHITE
TEXT: BLACK 


<!--BASIC BODY STYLING--> */

body {
    padding-top: 0px;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;;
    background: #758890;
    background-image: url("https://i.imgur.com/NIBYFov.png");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: fixed;

}
h1, h2 {
  display: inline-block;
  background: #b8bdb2;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

h1 {
  font-size: 30px
  
}
h2 {
  font-size: 20px;
  
}
span {
  background: #b8bdb2;

/* <!-- LINK BODY  TEXT BOX--> */
}
.bodTextBox{
    width: 880px;
    background-color: #fff;
    padding: 10px;
    margin: 25px; 
    font-size: 20px;
    overflow:hidden;
}
.linkBox{
    width: 880px;
    height: 31px;
    background-color: #000;
    padding: 10px;
    margin: px;

/* <!--HEADER--> */

}
.header{
    width: 900px;
    
}
.header:hover{
    opacity: .6;
    transition: 0.5s;
    
}

.hoverContent {
    display:none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    color: #8eeafa;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px black
 }

.header:hover .hoverContent {
    display:block;

    

/* <!--LINKS/NAV--> */
}
a {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  
}
a:link {
    text-decoration: none;

}
a:visited {
    text-decoration: none;

}
a:hover {
    font-size: 31px;
    font-style: italic;
    color: #b8bdb2;
    text-decoration: none;

}
a:active {
    text-decoration: none;
}



/* <!--END CSS FILE HERE--> */