
/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    background: #3b3c3a;
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b8bdb2; 
    border-radius: 20px;
}

/* Buttons */
::-webkit-scrollbar-button {
	box-shadow: inset 0 0 5px grey; 
	background: white;
	border-radius: 50px;

}